{% extends 'base.html.twig' %}

{% block title %}SEN IT TECHNOLOGY - Accueil{% endblock %}

{% block body %}
<header>
  {% include ("home/partials/__header.html.twig")%}
</header>
<section>
  <div class="container" style="margin-top:40px">
    <div class="row">
      <div class="col-md-4">
        <div class="d-flex flex-column">
          <div class="rounded m-2" style="height:220px;width:420px;background-color:rgba(119,119,119,.4)">
            <div >
              <h2 class=" p-4 text-center" style="color:#2F98EF">Developpement web</h2>
              <h2 class="text-white p-4 text-center">MARKETING DIGITAL</h2>
            </div>
          </div>
          <div class="rounded m-2" style="height:220px;width:420px;background-color:rgba(119,119,119,.4)">
            <div >
              <h2 class="p-4 text-center" style="color:#2F98EF">DESIGN GRAPHIQUE</h2>
              <h2 class="text-white p-4 text-center">ANIMATION 3D</h2>
            </div>
          </div>
          <div class="rounded m-2" style="height:220px;width:420px;background-color:rgba(119,119,119,.4)">
            <div >
              <h2 class=" p-4 text-center" style="color:#2F98EF">AUDIOVISUEL</h2>
              <h2 class="text-white p-4 text-center">VENTE DE MATERIELS</h2>
            </div>
          </div>

        </div>

      </div>
      <div class="col-md-8">

      </div>

    </div>
  </div>
</section>


{% include ("home/partials/__footer.html.twig")%}
{% endblock %}
