<footer class="pt-4 pl-4 pr-4 pb-4 my-md-5 bg-light  pt-md-5 border-top" >
  <div class="row">
    <div class="col-12 col-md">
      <img class="mb-2"  width="150" height="150" src="{{asset("images/logo.png")}}" alt=""> </a>
      <small class="d-block mb-3 text-muted">&copy;2020</small>
      <small class="d-block mb-3 text-muted">developed & designed by SEN IT TECHNOLOGY</small>
    </div>
    <div class="col-6 col-md">
      <h5 style="color:#2F98EF">Domaines d'expertise</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Animation 3D</a></li>
        <li><a class="text-muted" href="#">Développement web et application mobile</a></li>
        <li><a class="text-muted" href="#">Vente de matériels informatiques</li>
        <li><a class="text-muted" href="#">Formation accélerée</a></li>
        <li><a class="text-muted" href="#">Marketing digital</a></li>
        <li><a class="text-muted" href="#">Design graphique</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 style="color:#2F98EF">A propos / Contact</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{{path('apropos')}}">Qui sommes-nous?</a></li>
        <li><a class="text-muted" href="{{path('contact')}}">Contact</a></li>
        <li><a class="text-muted" href="#">+221 77-111-11-22</a></li>

      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 style="color:#2F98EF">Newsletter</h5>
      <small>Restez informés. Inscrivez vous à notre newsletter.</small>
      <form class=""  method="post">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Votre addresse email">
          <div class="input-group-append">
            <span class="input-group-text"><i class='fas fa-envelope'></i></span>
          </div>
        </div>
      </form>
    </div>

  </div>
</footer>
