<footer class="pt-4 pl-4 pr-4 pb-4 my-md-5 bg-light  pt-md-5 border-top" >
  <div class="row">
    <div class="col-12 col-md">
      <img class="mb-2"  width="150" height="150" src="{{asset("images/logo.png")}}" alt=""> </a>
      <small class="d-block mb-3 text-muted">&copy;2020</small>
      <small class="d-block mb-3 text-muted">developed & designed by SEN IT TECHNOLOGY</small>
    </div>
    <div class="col-6 col-md">
      <h5 style="color:#2F98EF">Domaines d'expertise</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Random feature</a></li>
        <li><a class="text-muted" href="#">Team feature</a></li>
        <li><a class="text-muted" href="#">Stuff for developers</a></li>
        <li><a class="text-muted" href="#">Another one</a></li>
        <li><a class="text-muted" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 style="color:#2F98EF">A propos / Contact</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Locations</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 style="color:#2F98EF">Newsletter</h5>
      <small>Lorem ipsum dolor sit ameusmod t dut labore et dolore magna aliqua. Ut enquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</small>
      <form class=""  method="post">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Votre addresse email">
          <div class="input-group-append">
            <span class="input-group-text">$</span>
          </div>
        </div>
      </form>
    </div>

  </div>
</footer>
