<nav class="navbar d-flex navbar-expand-lg justify-content-around navbar-light bg-transparent">
  <div class="" id="link-img">
    <a class="navbar-brand" href="#" >
      <img src="{{asset("images/logo.png")}}" width="160" height="140">
    </a>
  </div>

  <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <img src="{{asset("images/toggle.png")}}" class="" alt="">
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto"></ul>
    <div class="navbar-text" >
      <ul class="navbar-nav " id="link-menu">
        <li class="nav-item active">
          <a class="nav-link text-white text-uppercase " href="#" style="font-size:25px">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase" style="font-size:25px" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase" style="font-size:25px" href="#">A propos</a>
        </li>
      </ul>
    </div>
  </div>

</nav>
